.button-box{
    padding: 16px 0;
    margin-bottom: 60px;
    .button{
        padding: 16px 41px;
        text-transform: uppercase;
        border: 1px solid #2C4058;
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
    }
}
