.what_we_do {
  padding: 100px 10px 150px;

  h2.main-title {
    text-align: center;
    position: relative;
    margin-top: 30px;
  }
  h2.main-title::before {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: #2c4058;
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
  }
  .contant-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap: 70px;
    margin-bottom: 120px;

    .images-part {
        position: relative;
        // width: 845px;
        // height: 527px;

      .image-one {
        width: 585px;
        height: 470px;
        background-color: #55b7ff;
        position: absolute;
        top: 0;
        left: -215px;
      }
      .image-two {
        width: 630px;
        height: 470px;
        background: url("./../img/what-we-do/trade-center.png") center / 100% 100% no-repeat;
        background-size: cover;

        position: absolute;
        top: 57px;
        left: 0px;
      }
    }
    .text-part{
        padding: 151px 0 0px;
        width: 470px;

        .sup-title{
            font-size: 2.2rem;
            margin-bottom: 0;
        }
        h2{
            margin-bottom: 19px;
        }
        p{
            width: 470px;
            line-height: 30px;
            margin-bottom: 40px;
        }
        .author-row{
            display: flex;
            align-items: center;
            gap: 10px;
            svg{
                width: 9px;
                height: 17px;
            }
            .author{
                font-family: "Open Sans", sans-serif;
                font-size: 1.5rem;
                font-style: italic;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
  }
  .second-box-contant{
    flex-direction: row-reverse;

    .images-part {
        position: relative;
        // width: 845px;
        // height: 527px;

      .image-one-second-box {
        width: 585px;
        height: 470px;
        background-color: #7E5AFF;
        position: absolute;
        top: 0;
        right: -215px;
      }
      .image-two-second-box {
        width: 630px;
        height: 470px;
        background: url("./../img/what-we-do/commerce-center.png") center / 100% 100% no-repeat;
        background-size: cover;

        position: absolute;
        top: 57px;
        right: 0px;
      }
    }
    .text-part{
        padding: 151px 0 0px;
        width: 470px;

        .sup-title{
            font-size: 2.2rem;
            margin-bottom: 0;
        }
        h2{
            margin-bottom: 19px;
            width: 476px;
        }
        p{
            width: 470px;
            line-height: 30px;
            margin-bottom: 40px;
        }
        .author-row{
            display: flex;
            align-items: center;
            gap: 10px;
            svg{
                width: 9px;
                height: 17px;
            }
            .author{
                font-family: "Open Sans", sans-serif;
                font-size: 1.5rem;
                font-style: italic;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
  }
}

@media (min-width: 200px) and (max-width: 1145px){
    .contant-box {
        flex-direction: column;
        h2{
            font-size: 3rem;
        }
        p{
            width: 300px;   
        }
        .images-part{
            display: none;
        }
    }
    .what_we_do .contant-box .text-part p {
        width: 300px;
    }
    .what_we_do .second-box-contant .text-part p {
        width: 300px;
        margin: auto;
    }
  }


  .swiper {
    width: 600px;
    height: 300px;
  }